$app-black: #010101;
$app-white: #f7f8f7;
$app-dark-gray: #303030;
$app-dark-green: #006e49;
$app-yellow: #f2c92a;
$app-navy-blue: #07077e;
$app-light-blue: #05d6ed;
$app-red: #f92609;
$app-gray: #979797;
$app-pink: #fd6f7b;
$app-light-green: #6c9536;
$app-light-gray: #D3D3D3;

//FROM ALEX SITE
$app-orange: #ff0000;
$twitter-blue: #1DA1F2;
$linkedin-blue: #0e76a8;
$instagram-pink: #d62976;
$facebook-blue: #3b5998;

