@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

// DESKTOP VIEW

.navBorder {
    border-bottom: .005rem solid $app-gray;
    background-color: $app-white;
}

.initials {
    font-family: 'Rajdhani', sans-serif;
    font-size: 2.9rem;
    color: $app-white;
    transition: transform 1s;
}

.initials:hover {
    color: $app-white;
    transform: rotate(360deg);
}

.initialsBox {
    background-color: $app-dark-gray;
    width: 10.5vw;
    display: flex;
    justify-content: center;
    transition: 1s;
   // margin-right: 20rem;
    letter-spacing: .1rem;
}

.initialsBox:hover {
    //transform: rotate(10deg);
}

.navbarText {
    font-weight: bold;
    color: $app-gray;
    text-decoration-color: transparent;
    transition: 1s;
}

.navbarText:hover {
    color: $app-black;
    text-decoration-color: $app-red;
    text-decoration-line: underline;
    text-underline-offset: .5rem;
}

.navOptionsDiv {
    margin-left: 12.25vw;
    display: flex;
    
    
}

//TWITTER BUTTON STYLING

.twitterButton {
    border-style: solid;
    border-width: .005rem;
    border-color: $app-gray;
    width: 8rem;
    height: 3rem;
    margin-right: 1rem;
    background-color: $app-white;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
}

.twitterButton:hover {
    border-color: $twitter-blue;
    border-width: .1rem;
}

.twitterButtonCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconFavicon {
    margin-right: .75rem;
    color: $twitter-blue;
}

.twitterButtonText{
    color: $twitter-blue;
    font-weight: 300;
}


// MOBILE VIEW

.mobileNav {
    background-color: $app-white;
}

.burgerIcon {
    background-color: red;
}

.burgerSpan {
    width: 20rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}











