@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
// Override Bulma colors
$primary: $app-red;
$link: $app-black;
$family-primary: 'Arimo', sans-serif;

// Navbar Overrides
    // $navbar-item-hover-color: $app-black;
    // $navbar-item-active-color: $app-black;
    // $navbar-tab-hover-border-bottom-color: $app-red;
    // $navbar-tab-active-border-bottom-color: $app-red;



@import 'bulma/bulma';

html,
body {
    background-color: $app-white;
    padding: 0;
    margin: 0;
}

.page {
    //margin: 20px 15px 20px 15px;
}