@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

//GET RID OF PADDING ON MOBILE - have a seperate mobile view

.pageStyle {
    margin: 7.5vh 23.5vw;
}

//TEXT SECTION STYLING

.introText {
    // font-size: 2.25rem;
    font-size: 2.5vw;
    color: $app-black;
    font-weight: bold;
    // line-height: 3.5rem;
    line-height: 7.5vh;
    letter-spacing: .1rem;
}

.introTextSpacing {
    margin: 7.5vh 23.5vw;
}

.divideBar {
    width: 100%;
    height: .7vh;
    background-color: $app-light-gray;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.topBar {
    display: flex;
    align-items: center;
    //justify-content: space-around;
    
}

.featured {
    color: $app-red;
    white-space: nowrap;
    margin-right: .5vw;
    margin-left: .5vw;
    font-weight: bold;
}

.titles {
    font-family: 'Playfair Display', serif;
    font-size: 6vh;
}

.date {
    color: $app-gray;
    margin-bottom: -1.5vh;
}

.blogPreview {
    margin: 2vh 0;
}

.excerpt {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.75vh;
    color: $app-dark-gray;
}